<!-- app/views/owners/index.html.erb -->
<div class="container mt-5">
  <%= render partial: 'layouts/navigation' %>
  <div class="row">
    <div class="col-12">
      <h1>Owners List</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="map" style="width: 100%; height: 400px;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Province</th>
            <th>Postal Code</th>
            <th>Longitude</th>
            <th>Latitude</th>
          </tr>
        </thead>
        <tbody>
          <% @owners.each do |owner| %>
            <tr>
              <td><%= link_to owner.owner_name, owner_path(owner) %></td>
              <td><%= owner.owner_address %></td>
              <td><%= owner.owner_city %></td>
              <td><%= owner.owner_province %></td>
              <td><%= owner.owner_postal_code %></td>
              <td><%= owner.longitude %></td>
              <td><%= owner.latitude %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @owners %>
    </div>
  </div>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: {lat: 49.8951, lng: -97.1384}
      });

      var addresses = <%= @owners.map { |o| {name: o.owner_name, lat: o.latitude, lng: o.longitude} }.to_json.html_safe %>;

      addresses.forEach(function(address) {
        if(typeof address.lat === 'number' && typeof address.lng === 'number') {
          var marker = new google.maps.Marker({
            position: {lat: address.lat, lng: address.lng},
            map: map,
            title: address.name
          });
        }
      });
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4SsS7L7lBrQtih7D2fXkuisfG-d37HlU&callback=initMap"></script>
  <%= paginate @owners %>
</div>