<!-- app/views/owners/show.html.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Owner Infomation</title>
</head>
<body>
  <div class="container mt-5">
    <%= render partial: 'layouts/navigation' %>
    <%= link_to 'Back to Dogs List', dogs_path %>
    <h1><%= @owner.owner_name %>'s Address</h1>
    <div id="map" style="width: 100%; height: 400px;"></div>
    <p>Name: <%= @owner.owner_name %></p>
    <p>Address: <%= @owner.owner_address %></p>
    <p>City: <%= @owner.owner_city %></p>
    <p>Province: <%= @owner.owner_province %></p>
    <p>Postal Code: <%= @owner.owner_postal_code %></p>
    <p>Longitude: <%= @owner.longitude %></p>
    <p>Latitude: <%= @owner.latitude %></p>
    <script>
      function initMap() {
        var ownerLocation = {lat: <%= @owner.latitude %>, lng: <%= @owner.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: ownerLocation
        });

        var marker = new google.maps.Marker({
          position: ownerLocation,
          map: map,
          title: '<%= @owner.owner_name %>'
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4SsS7L7lBrQtih7D2fXkuisfG-d37HlU&callback=initMap">
    </script>
    <h3>Dogs of this Owner:</h3>
    <ul>
      <% @owner.dogs.each do |dog| %>
        <li><%= link_to dog.dog_name, dog_path(dog) %></li>
      <% end %>
    </ul>
  </div>
</body>
</html>