<!-- app/views/dogs/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dogs List</title>
</head>
<body>
  <div class="container mt-5">
    <%= render partial: 'layouts/navigation' %>
    <h1>Dogs List</h1>
    <div class="col-auto">
      <div class="d-flex justify-content-between" style="gap: 1rem;">
        <%= form_with(url: dogs_path, method: :get, local: true, class: "w-100") do |form| %>
          <div class="d-flex justify-content-between" style="gap: 1rem;">
            <%= form.text_field :breed_name, placeholder: "Search for breed name", class: "form-control me-3", style: "flex-grow: 1;" %>
            <%= form.select :has_owner, [['Owner', ''], ['Yes', true], ['No', false]], {}, {class: "form-select me-3", style: "width: auto;"} %>
            <%= form.submit "Search", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <% if @dogs.empty? %>
      <p>No dogs found matching your search criteria. Try using a more specific search term.</p>
    <% end %>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Favorite Food</th>
          <th>Breed</th>
          <th>Image</th>
          <th>Owner</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @dogs.each do |dog| %>
          <tr>
            <td><%= dog.dog_name %></td>
            <td><%= dog.dog_gender %></td>
            <td><%= dog.dog_age %></td>
            <td><%= dog.fav_food %></td>
            <td><%= dog.breed.breed_name %></td>
            <td>
              <% if dog.breed.image.present? %>
                <%= image_tag dog.breed.image, alt: "#{dog.breed.breed_name} image", size: "100x100" %>
              <% else %>
                No Image
              <% end %>
            </td>
            <td>
              <% if dog.owner.present? %>
                <%= dog.owner.owner_name %>
              <% else %>
                No Owner
              <% end %>
            </td>
          <td><%= link_to 'View Details', dog_path(dog) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @dogs%>
  </div>
</body>
</html>
