<!-- app/views/dogs/show.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>
<body>
  <div class="container mt-5">
    <%= render partial: 'layouts/navigation' %>
    <%= link_to 'Back to Dogs List', dogs_path %>
    <h1><%= @dog.dog_name %>'s Details</h1>
    <p class="mb-3">Gender: <%= @dog.dog_gender %></p>
    <p class="mb-3">Age: <%= @dog.dog_age %></p>
    <p class="mb-3">Favorite Food: <%= @dog.fav_food %></p>
    <p class="mb-3">Breed: <%= link_to @dog.breed.breed_name, breed_path(@dog.breed) %></p>
    <% if @dog.breed.image.present? %>
      <%= image_tag @dog.breed.image, alt: @dog.breed.breed_name, size: "100x100" %>
    <% else %>
      <p>No Image</p>
    <% end %>

    <% if @dog.owner.present? %>
      <div class="mb-3">Owner: <%= link_to @dog.owner.owner_name, owner_path(@dog.owner) %></div>
    <% else %>
      <div class="mb-3">No Owner</div>
    <% end %>
  </div>
</body>
</html>